/*Location Page*/
.menu a:nth-child(5) button {
    box-shadow: inset 2px 2px 2px 2px #725126;
}
.main {
	text-align: center;
	font-size: 30px;
}
.main div{
	margin-left: auto;
	margin-right: auto;
}

.map {
	margin-top: 20px;
	width: 90%;
	height: 700px;
	border: solid 1px black;
	border-radius: 10px;
}
