/* offers page */
.menu a:nth-child(4) button {
    box-shadow: inset 2px 2px 2px 2px #725126;
} 
.book{
	padding: 0px;
	margin-top: 5%;
	margin-right: 5%;
	margin-left: 5%;
	margin-bottom: 10%;
}
.imgbook{
	float: left;
	width: 10%;
	padding: 0px;
	margin-right: 2px;
}
h4{
	line-height: 1.2;
	padding: 0px;
	margin: 0px;
}
.repeatedText{
	font-size: 20px;
	font-weight: bold;
	text-decoration: underline;
	font-family: courier;
}
.offer{
	font-weight: bold;
	color: red;
	text-shadow: -2px 0 grey, 0 2px grey, 2px 0 grey, 0 -2px grey;
}