/*School books page*/
.menu a:nth-child(3) button {
    box-shadow: inset 2px 2px 2px 2px #725126;
}
.main .dos input{
	margin-right: 5%;
	width: 30%;
}
.main .dos select{
	margin-right: 5%;
	width: 31%;
}
.main .uno input{
	margin-right: 5%;
	width: 77.5%;
}
.main .description{
	display: inline-block;
	width: 10%;
	text-align: left;
}
.main p{
	text-align: center;
}
#subs{
	margin-right: 10%;
}
#fmBooks, #warning{
	display: none;
}
#warning{
	font-weight: bold;
	color: red;
	background-color: white;
}
.main button, .main .button{
	font-size: 20px;
	width: 20%;
}