
body{
	margin: 5px;
	padding: 0px;
	background-color: #EDD4AF;
	font-family: "Comic Sans MS", Sans-serif;
}
/* Header */
.shopname {
	background-image: url("wood1.JPG");
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 5px;
	box-shadow: 10px 10px 5px #725126;
   color:white;
   text-align: center;
	font-size: 75px;
	margin: 10px;
	height: 150px;
	position absolute;
	top: 0px;
	
}
#logo {
	height: 130px;
	width: 20%;
	margin: 10px;
	padding: 0px; 
	border:1px solid black;
	border-radius: 5px;
	line-height: 1;
	float: left;
}
#title{
	vertical-align: middle;
}
/* Central section */
 button, .button{
 	font-family: "Comic Sans MS", Sans-serif;
	background-color: Transparent;
 	background-repeat: no-repeat;
 	box-shadow: 2px 2px 2px 2px #725126;
	border: solid 1px #725126;
	border-radius: 5px;
	outline: 0; 	
	color: white; 
 }
 button:active, .button:active{
	box-shadow: inset 2px 2px 2px 2px #725126;
}
 button:hover, .button:hover{
	background-color: #417669; 
}
.menu {
	position: relative; 
	float: left;
   background-image: url("wood1.JPG");
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 5px;
	box-shadow: 10px 10px 5px #725126;
	text-align: center;
   height: 880px;
	margin: 10px;
	width: 20%;
	
 }
.menu button {
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: 5px;
	margin-right: 5px;
	width: 90%;
	text-decoration: none;
	font-weight: bold;
	font-size: 30px;
}
.menu a{
	text-decoration: none;
	color: white;
}
.main {
	position: relative; 
	float: left;
   background-image: url("wood1.JPG");
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 5px;
	box-shadow: 10px 10px 5px #725126;
   color: white;
	float: right;
	padding-left: 5px;
   height: 880px;
	width: 75%;
	overflow-y: auto;
	margin: 10px;
}
/*footer*/
footer {
	background-image: url("wood1.JPG");
	background-size: cover;
	border-radius: 5px;
	box-shadow: 10px 10px 5px #725126;
   clear: both;
   height: 150px;
   margin: 10px;
	
   
}
footer div {
	float: left;
	width: 30%; 
	color: white;
	padding: 1.5%;
	height: 150px;
	line-height: 1.2;	
}

footer div p {
  margin-top: 0em;
  margin-bottom: 0em;
}


