<head>
<title>Thank You - NCI Books Shop</title>
<link rel="stylesheet" type="text/css" href="stylesheet.css">
<link rel="stylesheet" type="text/css" href="thank_you.css">
</head>
<body>
<script src="form.js"></script>
<div class="shopname">
		<!-- 
		Image source: 
		By Raúl Ruano Ruiz - Own work, CC BY-SA 3.0, 
		https://commons.wikimedia.org/w/index.php?curid=22768706
		-->
		<img id="logo" src="logo.png">
		<span id="title">NCI Book Shop</span>
</div>
<div class="menu">
		<a href="index.html" ><button>Main</button></a>
		<a href="new_releases.html" ><button>New Releases</button></a>
		<a href="sc_books.html" ><button>School Books</button></a>
		<a href="offers.html" ><button>Offers</button></a>
		<a href="location.html" ><button>Location</button></a>
</div>	
<div class="main">	
<p>Thank you for submitting the form! </p>
<p>We will contact you as soon as your school books have arrived.</p> 
<p><a href="index.html" ><button>Ok</button></a></p>
</div>

<footer class="footer">
<div>
<p>Shop License</p>
<p>NCI shop license Num. 000-000-00000</p>
<p>Company NCI shop & Co LTD.</p>
<p>Registered at Companies registration Office.</p>
<p><a href="https://www.cro.ie" >https://www.cro.ie</a></p>
</div>
<div>
<p>Contact</p>
<p>Phone Number: 000-00-00-00.</p>
<p>Email <a href="mailto:ncishop@example.ie" >ncishop@example.ie</a></p>
</div>
<div>
<p>Cookies</p>
<p>By using our website, you agree to our use of web cookies. See European regulations for details.</p>
<p><a href="http://cookiestatement.eu/" >Cookie Statement for implied consent</a></p>
</div>
</footer>
</body>
</html>